  /* universal selector */
  *{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  body{
     display:flex;/* means the conatiner  lies between the center*/
     justify-content: center;
     align-items: center;
     /* Add a background image  */
     background-image: url(bg.jpg);
     background-size: 100vw 100vh;

  }  
  .container{
    /* background-color:beige; */
    background-color: white;
    width:40vw;
    height:50vh;
    margin-top: 115px;
     /* clock ko center me  layenge */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .clock{
    height: 100%;
    
  }
  .clock1{
    width: 55vw;
    /* background-color: blue; */
  } 
   .clock2{
     width:110%;
     /* height: 83%; */
    /* background-color:rgb(0,229,255); */
    padding-top: 20px;
    box-sizing: border-box;
  }

  /* id  ko # se select krte hai  */
  #hrs{
    height:40%;
    /* background-color: aqua; */
    text-align: center;
    font-size: 100px;

  } 
  #mins{
    height:40%;
     /* background-color: aqua; */
      text-align: center;
      font-size: 100px;
  } 
  #colon{
    height:20%;
     text-align:center;
     font-size: 75px;
     margin-left: -14px;
     margin-top: 13px;
     transform:translateY(-30px);
  }
 
  /* date ko class diye h to dot lgayenge */

      /* date aur month ke bich me thoda gap denge  */
      #mon{
        margin-left:5px;
      }

  .date{
    height:10%;
    font-size: 30px;
    margin-top:-20px;

  }
      #year{
    margin-top:-1px;
   }  
  #year{
    height:20%;
    font-size: 45px;
    /* margin-bottom: 10px; */
    margin-top:5px;
  }
    
  #day{
    height:20%;
    font-size:40px;
    margin-top:-10px;
  }
  #am-pm{
    height:20%;
    font-size:60px;
    padding-top:30px;
  }
  #sec{
    height:30%;
    font-size: 50px;
    margin-top: 0px; 
   }  