  /* universal selector */
  *{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  body{
     display:flex;/* means the conatiner  lies between the center*/
     justify-content: center;
     align-items: center;
     /* Add a background image  */
     background-image: url(bg2.jpg);
     background-size: 100vw 100vh;

  }  
  .container{
    /* background-color:beige; */
    background-color: rgba(255, 255, 255, 0.313);
    width:40vw;
    height:50vh;
    margin-top: 115px;
     /* clock ko center me layenge */
    display: flex;
    align-items: center;
    justify-content: center;

    /* backdrop-filter is a property that lets you apply visual effects
     (like blur or color shifts) to the area behind an element — not the element itself. */
    backdrop-filter: blur(5px);

/*  container ko thoda box radius  */
    border-radius: 10px;
    box-shadow: 0px,0px,20px black;
  }
  .clock{
    height: 100%;
    color:rgba(18, 51, 219, 0.466);
    -webkit-text-stroke: 1px rgba(238, 234,241);
    text-shadow: 1px 1px 50px rgb(147,15,15),3px 3px 3px black;
  }
  .clock1{
    width: 55vw;
    /* background-color: blue; */
  } 
   .clock2{
     width:110%;
     /* height: 83%; */
    /* background-color:rgb(0,229,255); */
    padding-top: 20px;
    box-sizing: border-box;
  }

  /* id  ko # se select krte hai  */
  #hrs{
    height:40%;
    /* background-color: aqua; */
    text-align: center;
    font-size: 100px;

  } 
  #mins{
    height:40%;
     /* background-color: aqua; */
      text-align: center;
      font-size: 100px;
      color:rgb(123,12,192);
  } 
  #colon{
    height:20%;
     text-align:center;
     font-size: 75px;
     margin-left: -14px;
     margin-top: 13px;
     transform:translateY(-30px);
  }
 
  /* date ko class diye h to dot lgayenge */

      /* date aur month ke bich me thoda gap denge  */
      #mon{
        margin-left:5px;
      }

  .date{
    height:10%;
    font-size: 30px;
    margin-top:-20px;
    color: rgb(127,6,59);

  }
      #year{
    margin-top:-1px;
   }  
  #year{
    height:20%;
    font-size: 45px;
    /* margin-bottom: 10px; */
    margin-top:5px;
    color: ;
  }
    
  #day{
    height:20%;
    font-size:40px;
    margin-top:-10px;
    color: rgb(10,132,10);
  }
  #am-pm{
    height:20%;
    font-size:60px;
    padding-top:30px;
  }
  #sec{
    height:30%;
    font-size: 50px;
    margin-top: 0px; 
    color: rgba(220, 21, 21, 0.858);
   }  